// 变量

$topBarHeight: 50px;
$background-8: rgba(255,255,255,0.8);
$background-6: rgba(255,255,255,0.6);
$background-4: rgba(255,255,255,0.4);

// 颜色
$color-primary: #D1815B;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;
$color-info: #909399;

// 文字
$textColor-primary: #000;
$textColor-regular: #606266;
$textColor-secondary: #909399;
$textColor-placeholder: #C0C4CC;

// 边框
$border-color-base: #DCDFE6;
$border-color-light: #E4E7ED;
$border-color-lighter: #EBEEF5;
$border-color-extra-light: #F2F6FC;

